@using System.Data
@model MvcApplication.Models.TaskGroupAndAllTasksModel

@{
    ViewBag.Title = "Edit TaskGroup";
}

<h2>TaskGroup [@Html.DisplayFor(modelItem =>Model.TaskGroupName)] Edit</h2>
<table>
    <tr>
        <th>RelatedID</th>
        <th>TaskID</th>
        <th>TaskName</th>
        <th>TaskExecuteFilePath</th>
        <th>TaskArgs</th>
        <th></th>
    </tr>

    @foreach (var item in Model.TaskGroupRelatedTasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Task_TaskGroupID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedTask.TaskID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedTask.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedTask.TaskExecuteFilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelatedTask.TaskArgs)
            </td>
            <td>
                @Html.ActionLink("Remove", "Remove", new {relatedId = item.Task_TaskGroupID, groupId = Model.TaskGroupID})
            </td>
        </tr>
    }

</table>

<h2>All Current Tasks</h2>
<table>
    <tr>
        <th>ID</th>
        <th>TaskName</th>
        <th>TaskExecuteFilePath</th>
        <th>TaskArgs</th>
        <th></th>
    </tr>

    @foreach (var item in Model.AllTasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskExecuteFilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskArgs)
            </td>
            <td>
                @Html.ActionLink("Add", "Add", new { id = item.TaskID, groupId = Model.TaskGroupID })
            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
